{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="bg-white rounded-lg shadow-lg p-8">
            <h1 class="text-3xl font-bold text-gray-900">Bienvenue Admin</h1>
        </div>
    </div>
{% endblock %}